{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-4">
   <div  style="background-color: #f5f5f5; min-height: 600px;" class="d-flex flex-column p-3">

    <input type="text" class="form-control" placeholder="Search..."/>
    <br>
    <h4> <span class="badge rounded-pill bg-info">{{ user_type.name }}</span></h4>
    {% if user.is_superuser %}
      <form method="GET" action="{% url 'home' %}">
        <label>Select UserType:</label>
        <select class="form-select" aria-label="Select User Type" name="user_type" onchange="this.form.submit()">
          {% for utype in user_types %}
          <option value="{{utype.id}}"{% if user_type.id == utype.id %} selected{%endif%}>{{utype.name}}</option>
          {% endfor %}
        </select>
      </form>
      <hr>
      
      <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#categoryModal" data-bs-parent="root" data-bs-parent-id="0">+ Add root category</a>
    {% endif %}
    
    <ul class="list-unstyled">
      <li>
        {% for item, info in alist %}
          {% if info.open %}
            <ul class="btn-toggle-nav list-unstyled children">
              <li>
          {% else %}
              </div></li><li>
          {% endif %}

          {% if item.is_category %}<!-- if category -->
            <button class="btn-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#ov{{item.id}}-collapse">
              {{ item.name }}
            </button>
            {% if user.is_superuser %}
              <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#categoryModal" 
                data-bs-parent="{{item.name}}" data-bs-parent-id="{{item.id}}">+</a>
            {% endif %}
          {% elif item.article %} <!-- if article -->
            <a href="{% url 'article' item.article.pk %}">{{item.name }}</a> 
          {% endif %}

          <div class="collapse" id="ov{{item.id}}-collapse">
            
          {% for close in info.close %}
            </div></li></ul>
          {% endfor %}
        {% endfor %}
      </li>
    </ul>
    <button class="btn btn-primary btn-lg mt-auto">Hey! Ask Me</button>
   </div>
    
  </div>
  <div class="col-8">
    <div class="m-4">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          {% for cat in article_obj.category.get_ancestors %}
            <li class="breadcrumb-item active" aria-current="page">{{cat.name}}</li>
          {% endfor %}
          
          <li class="breadcrumb-item active" aria-current="page">{{article_obj.category.name}}</li>
        </ol>
      </nav>
      {% if form %}
        <form method="post" action="{% url 'save_article' %}">
          
          <button class="btn btn-primary btn-sm" type="submit">+ Save Article</button><hr>
          <input type="hidden" name="articlepk" value="{{article_obj.pk}}">
          {% crispy form %}
        </form>
      {% elif article_obj %}
        <h3 class="display-3">{{article_obj.title}}</h3><hr>
        {{article_obj.desc|safe}}
      {% endif %}
    </div>
  </div>
</div>


<div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <form method="post" action="."> {% csrf_token %}
    <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <input type="hidden" name="user_type" value="{{user_type.id}}">
        <input type="hidden" id="parent-id" name="parent_id">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cat_type" checked value="category">
          <label class="form-check-label">
            Category
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cat_type" value="article">
          <label class="form-check-label">
            Article
          </label>
        </div>
        <div class="mb-3">
            <label for="message-text" class="col-form-label">Name:</label>
            <input class="form-control" id="cat-name" name="category_name">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    </form>
    </div>
</div>
</div>
{% endblock %}


{% block js %}
<script>
let categoryModal = document.getElementById('categoryModal')
categoryModal.addEventListener('show.bs.modal', function (event) {
    let parent = event.relatedTarget.getAttribute('data-bs-parent');
    let parentid = event.relatedTarget.getAttribute('data-bs-parent-id');
    let modalTitle = categoryModal.querySelector('.modal-title')
    modalTitle.textContent = 'Add new menu on ' + parent;

    let modalBodyInputparent = categoryModal.querySelector('.modal-body input#parent-id');
    modalBodyInputparent.value = parentid;

    let modalBodyInput = categoryModal.querySelector('.modal-body input#cat-name');
    modalBodyInput.value = "";
    
})
</script>
{% endblock %}

